<section class="flex gap-x-4">
  <div class="[&>p]:mb-4">
    <p>
      Mi nombre completo es Marcos Antonio, pero la mayoría solo me dice Marcos.
      Programé por primera vez en la universidad y me encantó.
    </p>

    <p>Uno de mis logros fue haber desarrollado en equipo dos sistemas </p>

    <p></p>
  </div>
</section>
